@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* text material*/
body {
  font-family: 'Montserat', sans-serif;
  background-color: #FFF9F7; /* Light beige */
  color: #333; /* Near black */
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

h1, h2, h3 {
  font-weight: 600;
  font-family: 'Montserat', sans-serif;
}

/*navbar material*/
.nav {
  display: flex;
  gap: 20px;
}

.nav-item {
  text-decoration: none;
  margin-right: 15px; /* Space between the nav items */
  transition: transform 0.3s;
  
}

.nav-item:hover {
  color: lightgray;
}

.bio-text {
  padding: 20px;
  background-color: #fff7e6; /* Pale gold background */
  border-radius: 12px; /* Rounded corners */
  color: black; /* Black text for contrast */
  background-color: #fff3cc; /* Pale gold */
}

.sparkly-text {
  font-weight: bold;
  position: relative;
  color: #064f39; /* Dark forest green */
}