@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* text material*/
body {
  font-family: 'Montserat', sans-serif;
  background-color: #FFF9F7; /* Light beige */
  color: #333; /* Near black */
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.main-content{
  height: 160vh;
  width: 75%;
  flex-grow: 1; /* This allows the div to take up all the available space */
  display: flex;
  flex-direction: column;
  justify-content: center; /* This will center the content vertically */
  align-items: justify; /* This will center the content horizontally */
  margin-left: auto;
  margin-right: auto;
}

.header {
  display: flex;
  width: 75%;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

h1, h2, h3 {
  font-weight: 600;
  font-family: 'Montserat', sans-serif;
}

.intro-title {
  font-size: 2.2rem; 
  margin-bottom: 2rem;
}

.intro-description {
  font-size: 1.1rem; 
  line-height: 1.5;
  margin-bottom: 2rem;
  font-family: 'Montserat', sans-serif;
}

.intro-header{
  font-size: 1.6em; 
  margin-bottom: 1.5rem;
}

/* text end*/
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.logo {
  font-size: 5rem;
}


/*navbar material*/
.nav {
  display: flex;
  gap: 20px;
}

.nav-item {
  text-decoration: none;
  margin-right: 15px; /* Space between the nav items */
  transition: transform 0.3s;
  
}

.nav-item:hover {
  color: lightgray;
}


footer {
  width: 100%;
  padding: 100px;
  text-align: center;
  font-size: 0.9rem;
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
  }
  .nav {
    display: flex;
    align-items: center;      /* Vertically center */
    height: 60px;             /* Adjust this value as per your design */
  }

  .logo {
    width: 80px; 
    display: block;
    margin: 0 auto;
  }
  .main-content {
    width: 90%;
  }

  footer {
    padding: 50px;
  }
  
}

.cardsGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Creates 2 columns */
  gap: 1rem;
}

@media (max-width: 768px) {
  .cardsGrid {
    grid-template-columns: 1fr; /* 1 column for even smaller screens */
  }
}